@font-face{
	font-family: 'Flowing-Icons';
	src: url('Flowing-Icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'Flowing-Icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-for-smoothing: antialiased;
	position: relative;
}
.add-baseline:before				{ content:'\e000'; }
.add-outline:before				{ content:'\e001'; }
.add-alt-baseline:before				{ content:'\e002'; }
.add-alt-outline:before				{ content:'\e003'; }
.add-baseline-1:before				{ content:'\e004'; }
.add-lapse-baseline:before				{ content:'\e005'; }
.add-lapse-outline:before				{ content:'\e006'; }
.add-outline-1:before				{ content:'\e007'; }
.back-arrow-ios-baseline:before				{ content:'\e008'; }
.back-arrow-ios-outline:before				{ content:'\e009'; }
.back-arrow-md-baseline:before				{ content:'\e00a'; }
.back-arrow-md-outline:before				{ content:'\e00b'; }
.bar-baseline:before				{ content:'\e00c'; }
.bar-outline:before				{ content:'\e00d'; }
.bar-graph-baseline:before				{ content:'\e00e'; }
.bar-graph-outline:before				{ content:'\e00f'; }
.block-baseline:before				{ content:'\e010'; }
.block-outline:before				{ content:'\e011'; }
.calendar-baseline:before				{ content:'\e012'; }
.calendar-outline:before				{ content:'\e013'; }
.camera-baseline:before				{ content:'\e014'; }
.camera-outline:before				{ content:'\e015'; }
.camera-plus-baseline:before				{ content:'\e016'; }
.camera-plus-outline:before				{ content:'\e017'; }
.cart-baseline:before				{ content:'\e018'; }
.cart-outline:before				{ content:'\e019'; }
.cart-add-baseline:before				{ content:'\e01a'; }
.cart-add-outline:before				{ content:'\e01b'; }
.check-baseline:before				{ content:'\e01c'; }
.check-outline:before				{ content:'\e01d'; }
.check-alt-baseline:before				{ content:'\e01e'; }
.check-alt-outline:before				{ content:'\e01f'; }
.circle-baseline:before				{ content:'\e020'; }
.circle-outline:before				{ content:'\e021'; }
.clock-baseline:before				{ content:'\e022'; }
.clock-outline:before				{ content:'\e023'; }
.close-baseline:before				{ content:'\e024'; }
.close-outline:before				{ content:'\e025'; }
.close-alt-baseline:before				{ content:'\e026'; }
.close-alt-outline:before				{ content:'\e027'; }
.club-baseline:before				{ content:'\e028'; }
.club-outline:before				{ content:'\e029'; }
.comment-baseline:before				{ content:'\e02a'; }
.comment-outline:before				{ content:'\e02b'; }
.credit-card-baseline:before				{ content:'\e02c'; }
.credit-card-outline:before				{ content:'\e02d'; }
.directions-baseline:before				{ content:'\e02e'; }
.directions-outline:before				{ content:'\e02f'; }
.down-arrow-baseline:before				{ content:'\e030'; }
.down-arrow-outline:before				{ content:'\e031'; }
.download-baseline:before				{ content:'\e032'; }
.download-outline:before				{ content:'\e033'; }
.edit-baseline:before				{ content:'\e034'; }
.edit-outline:before				{ content:'\e035'; }
.email-baseline:before				{ content:'\e036'; }
.email-outline:before				{ content:'\e037'; }
.event-baseline:before				{ content:'\e038'; }
.event-outline:before				{ content:'\e039'; }
.event-card-baseline:before				{ content:'\e03a'; }
.event-card-outline:before				{ content:'\e03b'; }
.eye-baseline:before				{ content:'\e03c'; }
.eye-outline:before				{ content:'\e03d'; }
.eye-off-baseline:before				{ content:'\e03e'; }
.eye-off-outline:before				{ content:'\e03f'; }
.festo-baseline:before				{ content:'\e040'; }
.festo-outline:before				{ content:'\e041'; }
.footprints-baseline:before				{ content:'\e042'; }
.footprints-outline:before				{ content:'\e043'; }
.heart-baseline:before				{ content:'\e044'; }
.heart-outline:before				{ content:'\e045'; }
.home-baseline:before				{ content:'\e046'; }
.home-outline:before				{ content:'\e047'; }
.inbox-baseline:before				{ content:'\e048'; }
.inbox-outline:before				{ content:'\e049'; }
.info-baseline:before				{ content:'\e04a'; }
.info-outline:before				{ content:'\e04b'; }
.insights-baseline:before				{ content:'\e04c'; }
.insights-outline:before				{ content:'\e04d'; }
.key-baseline:before				{ content:'\e04e'; }
.key-outline:before				{ content:'\e04f'; }
.language-baseline:before				{ content:'\e050'; }
.language-outline:before				{ content:'\e051'; }
.lapse-baseline:before				{ content:'\e052'; }
.lapse-outline:before				{ content:'\e053'; }
.link-baseline:before				{ content:'\e054'; }
.link-outline:before				{ content:'\e055'; }
.location-baseline:before				{ content:'\e056'; }
.location-outline:before				{ content:'\e057'; }
.location-off-baseline:before				{ content:'\e058'; }
.location-off-outline:before				{ content:'\e059'; }
.lock-baseline:before				{ content:'\e05a'; }
.lock-outline:before				{ content:'\e05b'; }
.map-baseline:before				{ content:'\e05c'; }
.map-outline:before				{ content:'\e05d'; }
.minus-alt-baseline:before				{ content:'\e05e'; }
.minus-alt-outline:before				{ content:'\e05f'; }
.more-ios-baseline:before				{ content:'\e060'; }
.more-ios-outline:before				{ content:'\e061'; }
.more-md-baseline:before				{ content:'\e062'; }
.more-md-outline:before				{ content:'\e063'; }
.musical-note-baseline:before				{ content:'\e064'; }
.musical-note-outline:before				{ content:'\e065'; }
.musical-note-off-baseline:before				{ content:'\e066'; }
.musical-note-off-outline:before				{ content:'\e067'; }
.my-location-baseline:before				{ content:'\e068'; }
.my-location-outline:before				{ content:'\e069'; }
.notifications-baseline:before				{ content:'\e06a'; }
.notifications-outline:before				{ content:'\e06b'; }
.paper-baseline:before				{ content:'\e06c'; }
.paper-outline:before				{ content:'\e06d'; }
.people-baseline:before				{ content:'\e06e'; }
.people-outline:before				{ content:'\e06f'; }
.person-baseline:before				{ content:'\e070'; }
.person-outline:before				{ content:'\e071'; }
.person-plus-baseline:before				{ content:'\e072'; }
.person-plus-outline:before				{ content:'\e073'; }
.phone-baseline:before				{ content:'\e074'; }
.phone-basline:before				{ content:'\e075'; }
.phone-outline:before				{ content:'\e076'; }
.pie-chart-baseline:before				{ content:'\e077'; }
.pie-chart-outline:before				{ content:'\e078'; }
.planner-baseline:before				{ content:'\e079'; }
.planner-outline:before				{ content:'\e07a'; }
.policy-baseline:before				{ content:'\e07b'; }
.policy-outline:before				{ content:'\e07c'; }
.pub-baseline:before				{ content:'\e07d'; }
.pub-outline:before				{ content:'\e07e'; }
.public-relation-baseline:before				{ content:'\e07f'; }
.public-relation-outline:before				{ content:'\e080'; }
.qr-code-baseline:before				{ content:'\e081'; }
.qr-code-outline:before				{ content:'\e082'; }
.receipt-baseline:before				{ content:'\e083'; }
.receipt-outline:before				{ content:'\e084'; }
.refresh-baseline:before				{ content:'\e085'; }
.refresh-outline:before				{ content:'\e086'; }
.search-baseline:before				{ content:'\e087'; }
.search-outline:before				{ content:'\e088'; }
.send-baseline:before				{ content:'\e089'; }
.send-outline:before				{ content:'\e08a'; }
.settings-baseline:before				{ content:'\e08b'; }
.settings-outline:before				{ content:'\e08c'; }
.share-baseline:before				{ content:'\e08d'; }
.share-outline:before				{ content:'\e08e'; }
.square-baseline:before				{ content:'\e08f'; }
.square-outline:before				{ content:'\e090'; }
.star-baseline:before				{ content:'\e091'; }
.star-outline:before				{ content:'\e092'; }
.theme-baseline:before				{ content:'\e093'; }
.theme-outline:before				{ content:'\e094'; }
.ticket-baseline:before				{ content:'\e095'; }
.ticket-outline:before				{ content:'\e096'; }
.trash-baseline:before				{ content:'\e097'; }
.trash-outline:before				{ content:'\e098'; }
.trophy-baseline:before				{ content:'\e099'; }
.trophy-outline:before				{ content:'\e09a'; }
.up-arrow-baseline:before				{ content:'\e09b'; }
.up-arrow-outline:before				{ content:'\e09c'; }
.username-baseline:before				{ content:'\e09d'; }
.username-outline:before				{ content:'\e09e'; }
.wallet-baseline:before				{ content:'\e09f'; }
.wallet-outline:before				{ content:'\e0a0'; }
.warning-baseline:before				{ content:'\e0a1'; }
.warning-outline:before				{ content:'\e0a2'; }
.work-baseline:before				{ content:'\e0a3'; }
.work-outline:before				{ content:'\e0a4'; }
